[MASTER]
ignore=_version.py

[MESSAGES CONTROL]
disable=
    # handled by black
    format,
    import-error,
    fixme,
    # netCDF4
    unsubscriptable-object

[SIMILARITIES]
min-similarity-lines=7
ignore-comments=no
ignore-docstrings=yes
ignore-imports=yes

[PACKAGE]
extension-pkg-whitelist=netCDF4
